{% extends 'base.html' %}

{% block head %}
<title>Scrape: Aruodas</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Scrape the Aruodas</h1>
    <table>
        <tr>
            <th>VAR1</th>
            <th>VAR2</th>
            <th>VAR3</th>
        </tr>
        {% for task in tasks%}
            <tr>
                <td>{{ task.content }}</td>
                <td></td>
                <td>
                    <a href="">Delete</a>
                    <br>
                    <a href="">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" name="Add Task">
    </form>
</div>
{% endblock %}